<form [formGroup]="miFormulario" (ngSubmit)="submitForm()">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" formControlName="nombre">
    <div *ngIf="miFormulario.get('nombre')!.hasError('required')">
        Nombre es obligatorio.
      </div>
      

    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">

    <div *ngIf="miFormulario.get('email')!.hasError('email')">
        Email no válido.
    </div>
    <!-- Otros campos... -->

    <button type="submit">Enviar</button>
</form>

<button (click)="onButtonClick()">Haz clic</button>
