

<div class="container mt-3 banner">
  <h2>Hola {{ nombre }}</h2>
  <form action="">
    <div class="mb-3 mt-3" *ngIf="edad < 55">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" [(ngModel)]="correo">
    </div>
    <div class="mb-3">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" [(ngModel)]="clave">
    </div>
    <div class="form-check mb-3">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <br>
    <button  class="btn btn-primary" (click)="goToHome()">Ir al Home</button>
  </form>

  <ul>
    <li *ngFor="let item of listaDeElementos">{{ item }}</li>
  </ul>
</div>
